<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Foodmap</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="background-color height">
  <header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="tittle text-center">Foodmap</h1>
          <hr class="text-center">
        </div>
        <div class="col-xs-12">
          <iframe class="col-xs-12" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d31207.35815340136!2d-77.03225477886399!3d-12.117641929530764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1srestaurantes+en+lima+de+comida+peruana+argentina+colombiana+!5e0!3m2!1ses!2spe!4v1514655069469" width="350" height="200" frameborder="5" class="image-responsive"style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </header>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <form>
            <div class="input-group col-xs-12">
              <h3 class="text-center subtittle-input">Comida cerca de ti</h3>
            </div>
            <div class="input-group">
              <input type="search" class="form-control" id="search-for" placeholder="search by type of food "         aria-describedby="search-for">
              <a href=""class="input-group-addon btn-default"><span class=" glyphicon glyphicon-search"   id="button-search"></span></a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <br>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class=" form-group col-xs-12 content-search">
          <img id="general-img"class="img-responsive" src="../assets/imgs/Imagegeneral.png" alt="img general">
        </div>
      </div>
    </div>
  </section>
  <!-- ..............Modal.............-->
  <div class="modal fade" id="myModal" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button id="close" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="conta modal-title col-xs-12 text-center" id="myModalLabel">
             <h2 id="restaurant" class="color"></h2>
          </div>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12">
                <form>
                  <div id="map"class="form-group col-xs-12 text-center">

                  </div>
                  <div class="col-xs-6 form-group text-center">
                    <a  type="submit" id="website" class="btn background-color">Website</a>
                  </div>
                  <div class="col-xs-6 form-group text-center">
                    <a type="submit" id="indications"class="btn background-color">Indications</a>
                  </div>
                <div class="form-group col-xs-6 text-center">
                  <h4 class="color"><strong>Address</strong></h4>
                  <p id="address" class="color"></p>
                </div>
                <div class="form-group col-xs-6 text-center">
                  <h4 class="color"><strong>Phone<strong></h4>
                  <p id="phone" class="color"></p>
                </div>
                <div class="form-group text-center col-xs-12">
                  <a id="reservation"type="submit" class="btn btn-warning btn-block">Reservations</a>
                </div>
              </form>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) para los modal -->
  <script src="../vendors/js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="../js/app.js"></script>
  <script type="text/javascript" src="../js/data.js"></script>
  <script type="text/javascript" src="../js/principalview.js"></script>
</body>
</html>
